[submodule "src/libsaturn"]
	path = src/libsaturn
	url = https://github.com/galaxy-team/libsaturn.git
[submodule "lib/asteroid"]
	path = lib/asteroid
	url = https://github.com/galaxy-team/asteroid.git
